div{
    heigth:25000px;
    width:1000px;
    color:black;
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQggZCluVcve4WzBkktk44fSp1gGJ3_gI6N9Q&usqp=CAU");
    text-align:center;
  }